@import "tailwindcss";

/* first second and hover drag code of css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #fff;
}

.box {
  height: 100vh;
  width: 200px;
  background-color: red;
  margin: 10px;
  border: 5px solid white;
}
.image_second {
  height: 200px;
}
.square {
  height: 200px;
  width: 200px;
  background-color: gray;
}

/* first second and hover drag code of css */
