* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #5f5e5e;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 10px;
  border: 5px solid white;
}
